.nav-link:hover{
    text-decoration: underline;
}

.background {
    background: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b')
      no-repeat center center/cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(20px);
}

.container{
    color: black;
    background-color: white;
    width: 500px;
    height: 310px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}